.button {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 8px;
  gap: 4px;
  height: 35px;
  width: 35px;
  border: none;
  background: transparent;
  border-radius:20px;
  cursor: pointer;
  margin-top: -7px;
  margin-left: 9px;
}

.button2 {
  display: flex;
  justify-content: center;
  padding: 6px;
  gap: 4px;
  height: 33px;
  width: 40px;
  border: none;
  background: #2a2a2a;
  border-radius: 10px 0px 0px 0px;
  cursor: pointer;
  margin-top: -3px;
  margin-left: 9px;
}

.button2:hover {
  background: #fff;
}

.button2:hover .svg-icon {
  animation: rotate 1.3s linear infinite;
}

.button:hover {
  background: #fff;
}

.button:hover .svg-icon {
  animation: rotate 1.3s linear infinite;
}

.schedule-count {
  position: absolute;
  top: 5px;
  right: 4px;
  background-color: #d53e3e;
  color: white;
  border-radius: 50%;
  padding: 2px;
  width: 18px;
  height: 18px;
  font-size: 11px;
  transform: translate(50%, -50%);
}

.add {
  margin-top: -25px;
  margin-bottom: 5px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(10deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(-10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}