.dropbtn {
    margin-top: 15px;
    background: #FC6A03;
    color: #f2f2f2;
    font-weight: bolder;
    font-size: 17px;
    display: flex;
    height: 30px;
    width: 356px;
    border: #fff;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    cursor: not-allowed;
}

input[type="submit"] {
    background-color: #2a2a2a;
    color: white;
    padding: 4px 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 120px;
}

/* On hover, darken the button */
input[type="submit"]:hover {
    background-color: #f2f2f2;
    color: #2a2a2a;
}

.dropdown-content {
    position: absolute;
    max-height: 330px;
    overflow-y: auto;
    border-radius: 8px;
    background-color: #fff;
    display: none;
    width: 356px;
}

/* Checkbox label style */
.dropdown-content label {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 35px;
    border-radius: 4px;
    padding-left: 4px;
    margin-right: 12px;
    transition: all 0.3s ease-in-out;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

/* Checkbox style */
.dropdown-content input[type="checkbox"] {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    width: 16px;
    border-radius: 4px;
    margin-right: 12px;
    border: 1.5px solid #c0c0c0;
    transition: all 0.3s ease-in-out;
}

/* Checked icon */
.checked-icon::before {
    content: '\2713'; /* Checkmark icon */
    font-size: 14px;
    color: green;
    margin-right: 5px;
}

.container {
    width: 105%;
    height: 100%;
    position: relative;
    font-size: 17px;
    font-weight: 400;
    color: #333;
    overflow-x: auto;
}

.dropdowns {
    width: 270px;
}

label:hover {
    background: #f3f2f2;
}