body, h1, label {
    margin: 0;
    padding: 0;
	margin-top: -50px;
	background: #34425A;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	background: #34425A;
}

h1 {
    font-family: Arial, sans-serif;
    font-size: 24px;
}

.radio-inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 350px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  gap: 20px;
}

.radio-inputs > * {
  margin: 6px;
}

.radio-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80px;
  min-height: 80px;
  border-radius: 0.5rem;
  border: 2px solid #4AD489;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: 0.15s ease;
  cursor: pointer;
  position: relative;
}

.radio-tile:before {
  content: "";
  position: absolute;
  display: block;
  width: 0.75rem;
  height: 0.75rem;
  border: 2px solid #34AF6D;
  background-color: #fff;
  border-radius: 50%;
  top: 0.25rem;
  left: 0.25rem;
  opacity: 0;
  transform: scale(0);
  transition: 0.25s ease;
}

.radio-tile:hover {
  border-color: #34AF6D;
}

.radio-tile:hover:before {
  transform: scale(1);
  opacity: 1;
}

.radio-icon svg {
  width: 2rem;
  height: 2rem;
  fill: #34AF6D;
}

.radio-label {
  color: #4AD489;
  transition: 0.375s ease;
  text-align: center;
  font-size: 11px;
  font-family: Arial, sans-serif;
  font-weight: bold;
}

.radio-input {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  display: none;
}

.radio-inputs a {
    text-decoration: none;
}

.radio-tile .material-icons,
.radio-tile .radio-label {
    color: #4AD489; /* Set your default color */
}

.radio-tile:hover .material-icons,
.radio-tile:hover .radio-label {
    color: #34AF6D; /* Set your desired hover color */
}