* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  --blue: #2a2185;
  --white: #fff;
  --gray: #f5f5f5;
  --black1: #222;
  --black2: #999;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

.web {
  position: relative;
  width: 100%;
}

.navigation {
  position: fixed;
  width: 220px;
  height: 100%;
  background: #2a2a2a;
  border-left: 10px solid #2a2a2a;
  transition: 0.5s;
  overflow: hidden;
}
.navigation.active {
  width: 80px;
}

.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.navigation ul li:nth-child(1) {
  margin-bottom: 15px;
  pointer-events: none;
}

.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: #899DC1;;
}
.navigation ul li:hover a,
.navigation ul li.hovered a {
  color: #34425A;
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 78px;
  text-align: center;
}
.navigation ul li a .icon ion-icon {
  font-size: 1.75rem;
}

.navigation ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
  font-weight: 600;
  font-size: medium;
  color: #899DC1;
}

/* --------- curve outside ---------- */
a.active {
  background: white;
  border-radius: 30px 0px 0px 30px;
}
a.active::before {
  content: "";
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px var(--white);
  pointer-events: none;
}
a.active::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px var(--white);
  pointer-events: none;
}
a#active {
  background: white;
  border-radius: 30px 0px 0px 30px;
}
a#active::before {
  content: "";
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px var(--white);
  pointer-events: none;
}
a#active::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px var(--white);
  pointer-events: none;
}

.main {
  position: absolute;
  width: calc(105% - 300px);
  left: 220px;
  min-height: 100vh;
  background: var(--white);
  transition: 0.5s;
}
.main.active {
  width: calc(100% - 80px);
  left: 80px;
}

.topbar {
  width: 100%;
  left: 220px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  background: #f2f2f2;
  position: fixed;
  z-index: 10000;
}

.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  cursor: pointer;
}

.user {
  position: fixed;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.user img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cardBox {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  margin-top: 60px;
}
.cardBox_2 {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}
.cardBox_3 {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 30px;
  margin-top: 60px;
}

.cardBox .card {
  position: relative;
  background: var(--white);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}
.cardBox_2 .card {
  position: relative;
  background: var(--white);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}
.cardBox_3 .card {
  position: relative;
  background: #FC6A03;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  box-shadow: 0 7px 18px 6px rgb(0 0 0 / 17%);
}

.report {
  position: relative;
  width: 100%;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}
.details {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 30px;
}
.details_0 {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 30px;
}
.details_2 {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 30px;
  background: #FC6A03;
  margin-top: 60px;
}
.details_3 {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 30px;
  margin-top: 60px;
}
.details_4 {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 30px;
}

.dropdown {
  position: absolute;
  right: 0;
  margin: 20px;
  transition: 0.3s ease;
}

#settings {
  transition: 1s ease;
}

.sub-menu {
  display: none;
  margin-left: 25px;
  font-weight: 600;
}

.sub-item {
  padding: 12px;
}

.text {
  margin-left: 13px;
}

.rotate {
  transform: rotate(90deg);
}

.navigation ul li a .icon svg,
.navigation ul li a .title {
  color: #f2f2f2;
}

.navigation ul li a:hover .icon svg,
.navigation ul li a:hover .title {
  fill: #FC6A03;
  color: #FC6A03;
}

.sub-menu .sub-item svg {
  transition: fill 0.3s ease;
}

.sub-menu .sub-item .text {
  color: #f2f2f2;
  transition: color 0.3s ease;
}

.sub-menu .sub-item:hover svg {
  fill:  #FC6A03;
}

.sub-menu .sub-item:hover .text {
  color:  #FC6A03;
}

.bottom {
  margin-top: 35px;
}

.hr {
  width: 100%;
  margin-left: -10px;
}

.card_8 {
  position: fixed;
  background: #f2f2f2;
  border-radius: 3px;
  right: 16.5%;
}

@media (max-width: 991px) {
  .navigation {
    left: -300px;
  }
  .navigation.active {
    width: 300px;
    left: 0;
  }
  .main {
    width: 100%;
    left: 0;
  }
  .main.active {
    left: 300px;
  }
  .cardBox {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .details {
    grid-template-columns: 1fr;
  }
  .recentOrders {
    overflow-x: auto;
  }
  .status.inProgress {
    white-space: nowrap;
  }
}

@media (max-width: 480px) {
  .cardBox {
    grid-template-columns: repeat(1, 1fr);
  }
  .cardHeader h2 {
    font-size: 20px;
  }
  .user {
    min-width: 40px;
  }
  .navigation {
    width: 100%;
    left: -100%;
    z-index: 1000;
  }
  .navigation.active {
    width: 100%;
    left: 0;
  }
  .toggle {
    z-index: 10001;
  }
  .main.active .toggle {
    color: #fff;
    position: fixed;
    right: 0;
    left: initial;
  }
}
