
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root {
    --main-color: #22BAA0;
    --color-dark: #34425A;
    --text-grey: #B0B0B0;
}
.fc-unthemed td.fc-today {
    background: #f2f2f2;
}
.fc-view-container *, .fc-view-container :after, .fc-view-container :before {
    box-sizing: content-box;
    color: #fff;
    font-size: 15px;
    text-align: center;
}
.fc-day-header {
    background-color: #2a2a2a;
}
.fc-day {
    background-color: #ffffff;
}
.fc-unthemed .fc-content, .fc-unthemed .fc-divider, .fc-unthemed .fc-list-heading td, .fc-unthemed .fc-list-view, .fc-unthemed .fc-popover, .fc-unthemed .fc-row, .fc-unthemed tbody, .fc-unthemed td, .fc-unthemed th, .fc-unthemed thead {
    border-color: #000;
}
.fc-toolbar.fc-header-toolbar {
    margin-bottom: -10px;
    background-color: #FC6A03;
    color: white;
    height: 50px;
}
.fc-ltr .fc-basic-view .fc-day-top .fc-day-number {
    float: right;
    color: black;
}
.hide-input {
    display: none;
}
#menu-toggle {
    display: none;
}

.sidebar {
    position: fixed;
    height: 100%;
    width: 220px;
    left: 0;
    bottom: 0;
    top: 0;
    z-index: 100;
    background: var(--color-dark);
    transition: left 300ms;
}

.side-menu ul li:hover {
    background: #f1f4f9;
    border-radius: 50px 0px 0px 50px;
    margin-left: 10px;
}

.side-header {
    box-shadow: 0px 5px 5px -5px rgb(0 0 0 /10%);
    background: #1f2a3e;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-header h3, side-head span {
    color: #fff;
    font-weight: 800;
}

.side-content {
    height: calc(100vh - 60px);
    overflow: auto;
}

/* width */
.side-content::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.side-content::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
.side-content::-webkit-scrollbar-thumb {
  background: #b0b0b0; 
  border-radius: 10px;
}

/* Handle on hover */
.side-content::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}

.profile {
    text-align: center;
    padding: 2rem 0rem;
}

.bg-img {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    margin-left: 55px;
    border: 3px solid #899DC1;
}

.profile-img {
    height: 80px;
    width: 80px;
    display: inline-block;
    margin: 0 auto .5rem auto;
    border: 3px solid #899DC1;
}

.profile h4 {
    color: #fff;
    font-weight: 500;
}

.profile small {
    color: #899DC1;
    font-weight: 600;
}

.sidebar {
    overflow-y: auto;
}

.side-menu ul {
    text-align: start;
    margin-top: 40px;
}

.side-menu a {
    display: flex;
    padding: 1rem 1rem;
}

.side-menu a.active {
    background: #f1f4f9;
    border-radius: 50px 0px 0px 50px;
    margin-left: 10px;
}

.side-menu a.active span, .side-menu a.active small {
    color: #1f2a3e;
}

.side-menu a span {
    display: block;
    text-align: start;
    font-size: 1.7rem;
    margin-left: 10px;
}

.side-menu a span, .side-menu a small {
    color: #899DC1;
    font-weight: 600;
    font-size: medium;
    margin-right: 5px;
}

#menu-toggle:checked ~ .sidebar {
    width: 60px;
}

#menu-toggle:checked ~ .sidebar .side-header span {
    display: none;
}

#menu-toggle:checked ~ .main-content {
    margin-left: 60px;
    width: calc(100% - 60px);
}

#menu-toggle:checked ~ .main-content header {
    left: 60px;
}

#menu-toggle:checked ~ .sidebar .profile,
#menu-toggle:checked ~ .sidebar .side-menu a small {
    display: none;
}

#menu-toggle:checked ~ .sidebar .side-menu a span {
    font-size: 1.3rem;
}

.mains {
    position: relative;
    width: calc(105% - 300px);
    left: 220px;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s;
}

.main-content {
    margin-left: 220px;
    width: calc(100% - 220px);
    transition: margin-left 300ms;
}
header {
    position: fixed;
    right: 0;
    top: 0;
    left: 220px;
    z-index: 100;
    height: 60px;
    box-shadow: 0px 5px 5px -5px rgb(0 0 0 /10%);
    background: #fff;
    transition: left 300ms;
}

.header-content, .header-menu {
    display: flex;
    align-items: center;
}

.header-content {
    justify-content: space-between;
    padding: 0rem 1rem;
}

.header-content label:first-child span {
    font-size: 1.3rem;
}

.header-content label {
    cursor: pointer;
}

.header-menu {
    justify-content: flex-end;
    padding-top: .5rem;
}

.header-menu label,
.header-menu .notify-icon {
    margin-right: 2rem;
    position: relative;
}

.header-menu label span,
.notify-icon span:first-child {
    font-size: 1.3rem;
}

.notify-icon span:last-child {
    position: absolute;
    background: var(--main-color);
    height: 16px;
    width: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    right: -5px;
    top: -5px;
    color: #fff;
    font-size: .8rem;
    font-weight: 500;
}

.user {
    position: fixed;
    left: 96.5%;
}

.user div, .client-img {
    height: 40px;
    width: 40px;
}

.user span:last-child {
    display: inline-block;
    margin-left: .3rem;
    font-size: .8rem;
}

main {
    margin-top: 60px;
}

.page-header {
    padding: 1.3rem 1rem;
    background: #E9edf2;
    border-bottom: 1px solid #dee2e8;
}

.page-header h1, .page-header small {
    color: #74767d;
}

.page-content {
    padding: 0rem 0rem;
    background: #f1f4f9;
}

.analytics {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    margin-top: .5rem;
    margin-bottom: 2rem;
}

.analytics2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin-top: .5rem;
    margin-bottom: 2rem;
}

.analytics3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin-top: .5rem;
    margin-bottom: 2rem;
}

.analytics4 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
    margin-top: .5rem;
    margin-bottom: 2rem;
}

.card {
    box-shadow: 0px 5px 5px -5px rgb(0 0 0 / 10%);
    background: #fff;
    border-radius: 3px;
    width: 99.3%;
    margin-left: 7px;
    margin-top: 60px;
}
.card_2 {
    position: fixed;
    background: #f2f2f2;
    border-radius: 3px;
    right: 16.5%;
}

.card_profile {
    box-shadow: 0px 5px 5px -5px rgb(0 0 0 / 10%);
    background: #fff;
    border-radius: 10px;
}

.card-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-head h2 {
    color: #333;
    font-size: 1.8rem;
    font-weight: 500;
}

.card-head span {
    font-size: 3.2rem;
    color: var(--text-grey);
}

.card-progress small {
    color: #777;
    font-size: .8rem;
    font-weight: 600;
}

.card-indicator {
    margin: .7rem 0rem;
    height: 10px;
    border-radius: 4px;
    background: #e9edf2;
    overflow: hidden;
}

.indicator {
    height: 10px;
    border-radius: 4px;
}

.indicator.one {
    background: #22baa0;
}

.indicator.two {
    background: #11a8c3;
}

.indicator.three {
    background: #f6d433;
}

.indicator.four {
    background: #f25656;
}

.records {
    box-shadow: 0px 5px 5px -5px rgb(0 0 0 / 10%);
    background: #fff;
    border-radius: 10px;
}

.record-header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add, .browse {
    display: flex;
    align-items: center;
}

.add span {
    display: inline-block;
    margin-right: .6rem;
    font-size: .9rem;
    color: #666;
}

input, button, select {
    outline: none;
}

.add select, .browse input, .browse select {
    height: 35px;
    border: 1px solid #b0b0b0;
    border-radius: 3px;
    display: inline-block;
    width: 75px;
    padding: 0rem .5rem;
    margin-right: .8rem;
    color: #666;
}

.add button {
    background: var(--main-color);
    color: #fff;
    height: 37px;
    border-radius: 4px;
    padding: 0rem 1rem;
    border: none;
    font-weight: 600;
}

.browse input {
    width: 150px;
}

.browse select {
    width: 100px;
}

.table-responsive {
    width: 100%;
    overflow: auto;
}
.client {
    display: flex;
    align-items: center;
}

.client-img {
    margin-right: .5rem;
    border: 2px solid #b0b0b0;
    height: 45px;
    width: 45px;
}

.client-info h4 {
    color: #555;
    font-size: .95rem;
}

.client-info small {
    color: #777;
}

.actions span {
    display: inline-block;
    font-size: 1.5rem;
    margin-right: .5rem;
}

.paid {
    display: inline-block;
    text-align: center;
    font-weight: 600;
    color: var(--main-color);
    background: #e5f8ed;
    padding: .5rem 1rem;
    border-radius: 20px;
    font-size: .8rem;
}

@media only screen and (max-width: 1200px) {
    .analytics {
        grid-template-columns: repeat(2, 1fr);
    }
    .analytics2 {
        grid-template-columns: repeat(2, 1fr);
    }
    .analytics3 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2rem;
        margin-top: .5rem;
        margin-bottom: 2rem;
    }
}

@media only screen and (max-width: 768px) {
    .analytics {
        grid-template-columns: 100%;
    }
    .analytics2 {
        grid-template-columns: 100%;
    }
    .analytics3 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2rem;
        margin-top: .5rem;
        margin-bottom: 2rem;
    }
    
    .sidebar {
        left: -220px;
        z-index: 90;
    }
    
    header {
        left: 0;
        width: 100%;
    }
    
    .main-content {
        margin-left: 0;
        width: 100%;
    }
    
    #menu-toggle:checked ~ .sidebar {
        left: 0;
    }
    
    #menu-toggle:checked ~ .sidebar {
        width: 165px;
    }

    #menu-toggle:checked ~ .sidebar .side-header span {
        display: inline-block;
    }

    #menu-toggle:checked ~ .sidebar .profile,
    #menu-toggle:checked ~ .sidebar .side-menu a small {
        display: block;
    }

    #menu-toggle:checked ~ .sidebar .side-menu a span {
        font-size: 1.7rem;
    }
    
    #menu-toggle:checked ~ .main-content header {
        left: 0px;
    }
    
    table {
        width: 900px;
    }
	.add, .browse {
		margin-left: 10px;
	}
}
.about {
    margin-top: 200px;
}
.letter {
    margin-left: 10px;
    margin-top: 1px;
    font-weight: 400;
}

b {
    font-size: 15px;
}

.info {
    margin-top: 5px;
}

#eventDetailsModal {
    margin-right: 265px;
}

#eventDetailsModal .modal-dialog {
    max-width: 430px;
}

#eventDetailsModal .modal-body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
}

#eventDetailsModal .modal-body p {
    display: grid;
}

#eventDetailsModal .modal-body strong {
    display: table-cell;
    width: 85px;
    font-weight: bold;
    font-size: 17px;
}

#eventDetailsModal .modal-body span {
    display: table-cell;
    padding: 5px;
    background-color: #ffffff;
    width: 98%;
    font-size: 17px;
}

#eventDetailsModal .modal-header {
    border-bottom: 1px solid #dee2e6;
}

#eventDetailsModal .modal-title {
    margin-left: 35%;
}

#eventDetailsModal .close {
    margin-left: auto;
}

#calendar {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
}

.info {
    position: fixed;
    left: 88.5%;
}

.legend {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
  }
  
  .legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 13px;
  }
  
  .legend-item .color-box {
    width: 35px;
    height: 15px;
    margin-right: 10px;
    border-radius: 5px;
  }
  
  .orange { background-color: #FC6A03; }
  .green { background-color: #3CCF4E; }
  .blue { background-color: #003865; }

.header_fixed {
    max-height: 100vh;
    width: 100%;
    overflow: auto;
    border: 1px solid #dddddd;
}

.header_fixed thead th {
    position: sticky;
    top: 0;
    background-color: #2a2a2a;
    color: #e6e7e8;
    font-size: 15px;
}

table {
    width: 100%;
}

td img {
    margin-top: 10px;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    border: 5px solid #e6e7e8;
}

tr:hover td {
    color: #FC6A03;
}

#action {
    height: 30px;
    outline: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    padding: 8px;
    fill: #ffffff;
}

td #action:nth-child(1){
    background-color: #0298cf;
}

td #action:nth-child(2){
    fill: #edeef1;
    background-color: #f80000;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}