body {
  background-color: #1d2634;
}

.charts {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.charts-card {
  background-color: #ffffff;
  width: 600px;
  height: 270px;
  box-sizing: border-box;
  -webkit-column-break-inside: avoid;
  border-radius: 5px;
  box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}

.chart-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .charts {
    grid-template-columns: 1fr;
    margin-top: 30px;
  }
}

@media only screen and (max-width: 1200px) {
  .charts {
    grid-template-columns: 1fr;
    margin-top: 30px;
  }
}

@media only screen and (max-width: 1200px) {
  .charts {
      grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .charts {
      grid-template-columns: 100%;
  }
}