*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
 }
 body {
     background: hsl(120, 6%, 93%);
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     font-family: 'Montserrat', sans-serif;
     height: 100vh;
     margin: -20px 0 50px;
 }
 
 h1 {
     font-weight: bold;
     margin: 0;
     color: #000;
 }
 
 h2 {
     text-align: center;
 }
 
 h3 {
     margin-top: -10px;
 }
 
 p {
     font-size: 14px;
     font-weight: 100;
     font-family: Arial, Helvetica, sans-serif;
     line-height: 20px;
     letter-spacing: 0.5px;
     margin: 20px 0 30px;
     color: #3a3939;
 }
 
 span {
     font-size: 12px;
 }
 
 a {
     color: #333;
     font-size: 14px;
     text-decoration: none;
     margin: 15px 0;
 }
 
 button {
     border-radius: 20px;
     border: 1px solid #FF4B2B;
     background-color: #FF4B2B;
     color: #FFFFFF;
     font-size: 12px;
     font-weight: bold;
     padding: 12px 45px;
     letter-spacing: 1px;
     text-transform: uppercase;
     transition: transform 80ms ease-in;
 }
 
 button:active {
     transform: scale(0.95);
 }
 
 button:focus {
     outline: none;
 }
 
 button.ghost {
     background-color: #faf8ed;
     border: 2px solid;
     border-color: rgb(0, 0, 0);
     color: black;
 }
 
 button.ghost:hover {
     border-color: #FF4B2B;
     color: #FF4B2B;
 }
 
 button.ghosts {
     background-color: #faf8ed;
     border: 2px solid;
     border-color: rgb(0, 0, 0);
     color: black;
 }
 
 button.ghosts:hover {
     border-color: #228b22 ;
     color: #228b22 ;
 }
 
 form {
     background-color: #faf8ed;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     padding: 0 50px;
     height: 100%;
     text-align: center;
 }
 
 .text {
     margin-top: -50px;
 }
 
 input {
     background-color: #eee;
     border: none;
     padding: 12px 15px;
     margin: 8px 0;
     width: 100%;
     border-radius: 10px;
 }
 
 .container {
     background-color: #fff;
     border-radius: 10px;
       box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
             0 10px 10px rgba(0,0,0,0.22);
     position: relative;
     overflow: hidden;
     width: 768px;
     max-width: 100%;
     min-height: 480px;
 }
 
 .form-container {
     position: absolute;
     top: 0;
     height: 100%;
     transition: all 0.6s ease-in-out;
 }
 
 .sign-in-container {
     left: 0;
     width: 50%;
     z-index: 2;
 }
 
 .container.right-panel-active .sign-in-container {
     transform: translateX(100%);
 }
 
 .sign-up-container {
     left: 0;
     width: 50%;
     opacity: 0;
     z-index: 1;
 }
 
 .container.right-panel-active .sign-up-container {
     transform: translateX(100%);
     opacity: 1;
     z-index: 5;
     animation: show 0.6s;
 }
 
 @keyframes show {
     0%, 49.99% {
         opacity: 0;
         z-index: 1;
     }
     
     50%, 100% {
         opacity: 1;
         z-index: 5;
     }
 }
 
 .overlay-container {
     position: absolute;
     top: 0;
     left: 50%;
     width: 50%;
     height: 100%;
     overflow: hidden;
     transition: transform 0.6s ease-in-out;
     z-index: 100;
 }
 
 .container.right-panel-active .overlay-container{
     transform: translateX(-100%);
 }
 
 .overlay {
     background: #FF416C;
     background: linear-gradient(to right, #4284b5, hsl(115, 25%, 55%));
     background-repeat: no-repeat;
     background-size: cover;
     background-position: 0 0;
     color: #FFFFFF;
     position: relative;
     left: -100%;
     height: 100%;
     width: 200%;
       transform: translateX(0);
     transition: transform 0.6s ease-in-out;
 }
 
 .container.right-panel-active .overlay {
       transform: translateX(50%);
 }
 
 .overlay-panel {
     position: absolute;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     padding: 0 40px;
     text-align: center;
     top: 0;
     height: 100%;
     width: 50%;
     transform: translateX(0);
     transition: transform 0.6s ease-in-out;
 }
 
 .overlay-left {
     transform: translateX(-20%);
 }
 
 .container.right-panel-active .overlay-left {
     transform: translateX(0);
 }
 
 .overlay-right {
     right: 0;
     transform: translateX(0);
 }
 
 .container.right-panel-active .overlay-right {
     transform: translateX(20%);
 }
 
 button.learn-more {
  font-weight: 600;
  margin-top: 30px;
  text-align: center;
  height: 30px;
  color: #ffffff;
  text-transform: none;
  padding: 1.25em 2em;
  background: #838383;
  border: 2px solid #444444;
  border-radius: 0.75em;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: background 150ms cubic-bezier(0, 0, 0, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0, 1);
  transition: transform 150ms cubic-bezier(0, 0, 0, 1), background 150ms cubic-bezier(0, 0, 0, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0, 1);
 }
 
 button.learn-more::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #5a5a5a;
  border-radius: inherit;
  -webkit-box-shadow: 0 0 0 2px #eeeeee, 0 0.625em 0 0 #d8d7d7;
  box-shadow: 0 0 0 2px #444444, 0 0.625em 0 0 #d8d7d7;
  -webkit-transform: translate3d(0, 0.75em, -1em);
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
 }
 
 button.learn-more:hover {
  background: #2bc564;
  -webkit-transform: translate(0, 0.25em);
  transform: translate(0, 0.25em);
 }
 
 button.learn-more:hover::before {
  -webkit-box-shadow: 0 0 0 2px #c4f5d6, 0 0.5em 0 0 #bdbcbc;
  box-shadow: 0 0 0 2px #444444, 0 0.5em 0 0 #bdbcbc;
  -webkit-transform: translate3d(0, 0.5em, -1em);
  transform: translate3d(0, 0.5em, -1em);
 }
 
 button.learn-more:active {
  background: #c4f5d6;
  -webkit-transform: translate(0em, 0.75em);
  transform: translate(0em, 0.75em);
 }
 
 button.learn-more:active::before {
  -webkit-box-shadow: 0 0 0 2px #c4f5d6, 0 0 #bdbcbc;
  box-shadow: 0 0 0 2px #c4f5d6, 0 0 #bdbcbc;
  -webkit-transform: translate3d(0, 0, -1em);
  transform: translate3d(0, 0, -1em);
 }
 
 button.learn-mores {
     font-weight: 600;
     margin-top: 30px;
     text-align: center;
     height: 30px;
     color: #ffffff;
     text-transform: none;
     padding: 1.25em 2em;
     background: #838383;
     border: 2px solid #444444;
     border-radius: 0.75em;
     -webkit-transform-style: preserve-3d;
     transform-style: preserve-3d;
     -webkit-transition: background 150ms cubic-bezier(0, 0, 0, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0, 1);
     transition: transform 150ms cubic-bezier(0, 0, 0, 1), background 150ms cubic-bezier(0, 0, 0, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0, 1);
    }
    
    button.learn-mores::before {
     position: absolute;
     content: '';
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background: #5a5a5a;
     border-radius: inherit;
     -webkit-box-shadow: 0 0 0 2px #eeeeee, 0 0.625em 0 0 #d8d7d7;
     box-shadow: 0 0 0 2px #444444, 0 0.625em 0 0 #d8d7d7;
     -webkit-transform: translate3d(0, 0.75em, -1em);
     transform: translate3d(0, 0.75em, -1em);
     transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
    }
    
    button.learn-mores:hover {
     background: #fd5353;
     -webkit-transform: translate(0, 0.25em);
     transform: translate(0, 0.25em);
    }
    
    button.learn-mores:hover::before {
     -webkit-box-shadow: 0 0 0 2px #f5c4c4, 0 0.5em 0 0 #bdbcbc;
     box-shadow: 0 0 0 2px #444444, 0 0.5em 0 0 #bdbcbc;
     -webkit-transform: translate3d(0, 0.5em, -1em);
     transform: translate3d(0, 0.5em, -1em);
    }
    
    button.learn-mores:active {
     background: #f5c4c4;
     -webkit-transform: translate(0em, 0.75em);
     transform: translate(0em, 0.75em);
    }
    
    button.learn-mores:active::before {
     -webkit-box-shadow: 0 0 0 2px #f5c4c4, 0 0 #bdbcbc;
     box-shadow: 0 0 0 2px #f5c4c4, 0 0 #bdbcbc;
     -webkit-transform: translate3d(0, 0, -1em);
     transform: translate3d(0, 0, -1em);
    }
 
 select#department {
     background-color: #eee;
     border: none;
     padding: 12px 15px;
     margin: 8px 0;
     width: 100%;
     border-radius: 10px;
     height: auto; /* Adjust the height to match the input fields */
 }