* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --main-color: #22BAA0;
    --color-dark: #34425A;
    --text-grey: #B0B0B0;
}

.profile {
    text-align: center;
    padding: 2rem 0rem;
}

.bg-img {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    margin-left: 55px;
    border: 3px solid #899DC1;
}

.profile-img {
    height: 80px;
    width: 80px;
    display: inline-block;
    margin: 0 auto .5rem auto;
    border: 3px solid #899DC1;
}

.profile h4 {
    color: #fff;
    font-weight: 500;
}

.profile small {
    color: #899DC1;
    font-weight: 600;
}

.header-menu label,
.header-menu .notify-icon {
    margin-right: 2rem;
    position: relative;
}

.header-menu label span,
.notify-icon span:first-child {
    font-size: 1.3rem;
}

.notify-icon span:last-child {
    position: absolute;
    background: var(--main-color);
    height: 16px;
    width: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    right: -5px;
    top: -5px;
    color: #fff;
    font-size: .8rem;
    font-weight: 500;
}

.user {
    display: flex;
    align-items: center;
    position: fixed;
    right: 1%;
}

.user div, .client-img {
    height: 40px;
    width: 40px;
}

.user span:last-child {
    display: inline-block;
    margin-left: .3rem;
    font-size: .8rem;
}

main {
    margin-top: 60px;
}

.page-header {
    padding: 1.3rem 1rem;
    background: #FC6A03;
    border-bottom: 1px solid #fc6a0394;
    margin-top: 60px;
}

.page-header h1, .page-header small {
    color: #2a2a2a;
}

.page-content {
    padding: 1.3rem 1rem;
    background: #f1f4f9;
}

.analytics {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    margin-top: .5rem;
    margin-bottom: 2rem;
}

.analytics2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin-top: .5rem;
    margin-bottom: 2rem;
}

.analytics3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin-top: .5rem;
    margin-bottom: 2rem;
}

.analytics4 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
    margin-top: .5rem;
    margin-bottom: 2rem;
}

.cards {
    box-shadow: 0px 5px 12px 0px rgb(0 0 0 / 28%);
    background: #fff;
    padding: .4rem;
    border-radius: 3px;
    width: 100%;
}

.card_sched {
    box-shadow: 0px 5px 5px -5px rgb(0 0 0 / 10%);
    background: none;
    border-radius: 3px;
}

.card_profile {
    box-shadow: 0px 5px 5px -5px rgb(0 0 0 / 10%);
    background: #fff;
    border-radius: 10px;
}

.card-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
}

.card-head h2 {
    color: #333;
    font-size: 1.8rem;
    font-weight: 500;
}

.card-head span {
    font-size: 3.2rem;
    color: var(--text-grey);
    margin-right: 10px;
    margin-top: 10px;
}

.card-progress small {
    color: #2a2a2a;
    font-size: .8rem;
    font-weight: 600;
}

.card-indicator {
    margin: .7rem 0rem;
    height: 10px;
    border-radius: 4px;
    background: #e9edf2;
    overflow: hidden;
}

.indicator {
    height: 10px;
    border-radius: 4px;
}

.indicator.one {
    background: #FC6A03;
}

.indicator.two {
    background: #FC6A03;
}

.indicator.three {
    background: #f6d433;
}

.indicator.four {
    background: #f25656;
}

.records {
    box-shadow: 0px 5px 5px -5px rgb(0 0 0 / 10%);
    background: #fff;
    border-radius: 10px;
}

.record-header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add span {
    display: inline-block;
    margin-right: .6rem;
    font-size: .9rem;
    color: #666;
}

input, button, select {
    outline: none;
}

.add button {
    background: var(--main-color);
    color: #fff;
    height: 37px;
    border-radius: 4px;
    padding: 0rem 1rem;
    border: none;
    font-weight: 600;
}

.table-responsive {
    width: 100%;
    overflow: auto;
}

table {
    border-collapse: collapse;
}

table thead tr {
    background: #fc6a0394;
}

table thead th {
    padding: 1rem 0rem;
    text-align: center;
    color: #000;
    font-size: .9rem;
}

table tbody td {
    padding: 1rem 0rem;
    color: #444;
    text-align: center;
}

table tbody tr {
    border-bottom: 1px solid #dee2e8;
}

.actions span {
    display: inline-block;
    font-size: 1.5rem;
    margin-right: .5rem;
}

.paid {
    display: inline-block;
    text-align: center;
    font-weight: 600;
    color: var(--main-color);
    background: #e5f8ed;
    padding: .5rem 1rem;
    border-radius: 20px;
    font-size: .8rem;
}

.menu {
    margin-left: 5px;
    margin-top: 10px;
}

.about {
    margin-top: 200px;
}

.table-container {
    display: flex;
}

.table1,
.table2 {
    flex: 1;
}

.letter {
    margin-left: 10px;
    margin-top: 1px;
    font-weight: 400;
}

b {
    font-size: 15px;
}

.info {
    position: fixed;
    left: 88.5%;
}

caption {
    font-weight: 600;
    background: #FC6A03;
    color: white;
    padding: 5px;
    border-radius: 10px 10px 0px 0px;
    border: 1px solid #fff;
}
