* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.upload{
    width: 190px;
    position: relative;
    margin: auto;
    margin-top: -8px;
    margin-left: 90px;
  }
  
  .upload img{
    border-radius: 50%;
    border: 8px solid #FC6A03;
    margin-left: -8px;
    margin-top: -6px;
  }
  
  .upload .round{
    position: absolute;
    margin-bottom: -5px;
    bottom: -3px;
    right: 83px;
    background: #FC6A03;
    width: 30px;
    height: 30px;
    line-height: 33px;
    text-align: center;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .upload .round input[type = "file"]{
    position: absolute;
    transform: scale(2);
    opacity: 0;
  }
  
  input[type=file]::-webkit-file-upload-button{
      cursor: pointer;
  }
  