*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #f2f2f2;
    min-height: 100vh;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  font-family: 'Poppins', sans-serif;
  display: none;
  position: absolute;
  max-height: 400px;
  max-width: 130px;
  top: 35px;
  right: -10px;
  border-radius: 10px;
  background-color: #f2f2f2;
  box-shadow: 0px -1px 16px 4px rgba(0,0,0,0.2);
  z-index: 999;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  text-align: center;
  display: block;
}

#dropdownMenu a:hover {
  background: #2a2a2a;
  color: #f2f2f2;
  border-radius: 8px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 4vh;
}
.nav{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 35px;
    background: #2a2a2a;
    z-index: 100;
}
.nav-logo p{
    color: white;
    font-size: 25px;
    font-weight: 600;
}
.nav-menu ul{
    display: flex;
    margin-top: 5px;
}
.nav-menu ul li{
    list-style-type: none;
}
.nav-menu ul li .link{
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    padding-bottom: 2px;
    margin: 0 25px;
}
.link:hover, .active{
    border-bottom: 2px solid #fff;
}
.btn:hover{
    background: rgba(255, 255, 255, 0.3);
}
#registerBtn{
    margin-left: 15px;
}
.btn.white-btn{
    background: rgba(255, 255, 255, 0.7);
}
.btn.btn.white-btn:hover{
    background: rgba(255, 255, 255, 0.5);
}
.nav-menu-btn{
    display: none;
}
.form-box{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 512px;
    top: -460px;
    height: 1100px;
    overflow: hidden;
    z-index: 2;
}
.login-container{
    position: absolute;
    left: 4px;
    width: 500px;
    display: flex;
    flex-direction: column;
    transition: .5s ease-in-out;
}
.register-container{
    position: absolute;
    right: -520px;
    width: 500px;
    display: flex;
    flex-direction: column;
    transition: .5s ease-in-out;
}
.top span{
    color: #fff;
    font-size: small;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}
.top span a{
    font-weight: 500;
    color: #fff;
    margin-left: 5px;
}
header{
    color: #2a2a2a;
    font-size: 30px;
    text-align: center;
    padding: 10px 0 30px 0;
}
.two-forms{
    display: flex;
    gap: 10px;
}
.input-field{
    font-size: 15px;
    background: #2a2a2a;
    color: #fff;
    height: 50px;
    width: 100%;
    padding: 0 10px 0 45px;
    border: none;
    border-radius: 30px;
    outline: none;
    transition: .2s ease;
}
.input-field:hover, .input-field:focus{
    background: #534e4e;
}
::-webkit-input-placeholder{
    color: #fff;
}
.input-box i{
    position: relative;
    top: -35px;
    left: 17px;
    color: #fff;
}
.submit{
    font-size: 15px;
    font-weight: 500;
    color: #f2f2f2;
    height: 45px;
    width: 100%;
    border: none;
    border-radius: 30px;
    outline: none;
    background: #2a2a2a;
    cursor: pointer;
    transition: .3s ease-in-out;
}
.submit:hover{
    background: #534e4e;
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}
.two-col{
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-size: small;
    margin-top: 10px;
}
.two-col .one{
    display: flex;
    gap: 5px;
}
.two label a{
    text-decoration: none;
    color: #fff;
}
.two label a:hover{
    text-decoration: underline;
}
@media only screen and (max-width: 786px){
    .nav-button{
        display: none;
    }
    .nav-menu.responsive{
        top: 100px;
    }
    .nav-menu{
        position: absolute;
        top: -800px;
        display: flex;
        justify-content: center;
        background: rgba(255, 255, 255, 0.2);
        width: 100%;
        height: 90vh;
        backdrop-filter: blur(20px);
        transition: .3s;
    }
    .nav-menu ul{
        flex-direction: column;
        text-align: center;
    }
    .nav-menu-btn{
        display: block;
    }
    .nav-menu-btn i{
        font-size: 25px;
        color: #fff;
        padding: 10px;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 50%;
        cursor: pointer;
        transition: .3s;
    }
    .nav-menu-btn i:hover{
        background: rgba(255, 255, 255, 0.15);
    }
}
@media only screen and (max-width: 540px) {
    .wrapper{
        min-height: 100vh;
    }
    .form-box{
        width: 100%;
        height: 500px;
    }
    .register-container, .login-container{
        width: 100%;
        padding: 0 20px;
    }
    .register-container .two-forms{
        flex-direction: column;
        gap: 0;
    }
}

#user_type{
    font-size: 15px;
    background: #2a2a2a;
    color: #f2f2f2;
    height: 30px;
    width: 49%;
    padding: 0 10px 0 45px;
    border: none;
    border-radius: 30px;
    outline: none;
    transition: .2s ease;
}
.user_type:hover{
    background: #2a2a2a;
}

#department{
    font-size: 15px;
    background: #2a2a2a;
    color: #f2f2f2;
    height: 30px;
    width: 50%;
    padding: 0 10px 0 45px;
    border: none;
    border-radius: 30px;
    outline: none;
    transition: .2s ease;
}
#department:hover{
    background: #2a2a2a;
}

#position_type{
    font-size: 15px;
    background: #2a2a2a;
    color: #f2f2f2;
    height: 50px;
    width: 100%;
    padding: 0 10px 0 45px;
    border: none;
    border-radius: 30px;
    outline: none;
    transition: .2s ease;
}
#position_type:hover{
    background: #2a2a2a;
}

.select-wrapper select option {
    padding: 10px;
    background-color: #2a2a2a;
    color: #f2f2f2;
    border-radius: 10px;
}
  
.select-wrapper select option:hover {
    background-color: #f2f2f2;
}

select option{
    position: relative;
    background-color: #2a2a2a;
    color: #f2f2f2;
    border-radius: 10px;
    overflow-y: auto;
    max-height: 50px;
}

.cardBox_3 {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    margin-top: 0px;
  }
  .cardBox_3 .card {
    position: relative;
    background: #FC6A03;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    box-shadow: 0 7px 18px 6px rgb(0 0 0 / 17%);
  }

  .cardBox {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-top: 60px;
  }
  .cardBox_2 {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }
  .cardBox_3 {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    margin-top: 0px;
  }
  
  .cardBox .card {
    position: relative;
    background: var(--white);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  }
  .cardBox_2 .card {
    position: relative;
    background: var(--white);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  }
  .cardBox_3 .card {
    position: relative;
    background: #FC6A03;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    box-shadow: 0 7px 18px 6px rgb(0 0 0 / 17%);
  }
  
  .report {
    position: relative;
    width: 100%;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }
  .details {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
  }
  .details_0 {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
  }
  .details_2 {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    background: #FC6A03;
    margin-top: 60px;
  }
  .details_3 {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    margin-top: 60px;
  }
  .details_4 {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
  }

  .web {
    position: relative;
    width: 100%;
  }